Requirements
============
.. requirement:definition:: ConfigManagement.ParameterDefinition

   An individual vehicle configuration property used for vehicle specific adaptations is called Parameter.

.. requirement:definition:: ConfigManagement.ParameterSetDefinition

   Group of Parameters which belong to the same functionality and share an integrity protection is called Parameter Set.

.. requirement:definition:: ConfigManagement.CentralHousekeepingForParameters

   Configuration Management shall provide a central housekeeping for Parameters.

.. requirement:definition:: ConfigManagement.ParameterRelationToParameterSet

   Every Parameter shall be contained in exactly one Parameter Set.

.. requirement:definition:: ConfigManagement.ParameterNameUniqueness

   Parameters names shall be unique for an ECU project.

.. requirement:definition:: ConfigManagement.ParameterSetNameUniqueness

   Parameters Set names shall be unique for an ECU project.

.. requirement:definition:: ConfigManagement.ParameterSetConfigurationContents

   Parameter Set configuration shall contain a mapping of Parameters to Parameter Sets, Parameter names and default values.

.. requirement:definition:: ConfigManagement.ParameterSetConfigurationSource

   Parameter Set configuration shall be determined solely by a read-only input source, deployed on the target.

.. requirement:definition:: ConfigManagement.ParameterModification

   Parameter values shall be modifiable during runtime regarding modification procedure specific for a parameter kind.

.. requirement:definition:: ConfigManagement.ParameterIntegrity

   The integrity of stored Parameters shall be protected and verified.

.. requirement:definition:: ConfigManagement.ConfigProviderInterface

   Configuration Management shall provide a generic interface, independent of any Parameter definitions, for applications to access Parameters in read-only mode.

.. requirement:definition:: ConfigManagement.ParameterSetAccess

   A Parameter Set shall be accessible via interface using a key-value principle, where user application passes a Parameter Set name to the interface and its value is returned as result.

.. requirement:definition:: ConfigManagement.ParameterSetQualifier

   A Parameter Set shall contain a qualifier to indicate its integrity.

.. requirement:definition:: ConfigManagement.ParameterInitialQualifier

   There shall exist an overall qualifier for all Parameter Sets to indicate the state of integrity checks at the point of time of initial provision of parameters.

.. requirement:definition:: ConfigManagement.CompleteParameterSets

   The interface between parameter provider and application shall only exchange complete Parameter Sets.

.. requirement:definition:: ConfigManagement.SupportedPrimitiveParameterTypes

   The following primitive parameter types shall be supported for parameters:
   * {{sint8}}
   * {{sint16}}
   * {{sint32}}
   * {{sint64}}
   * {{uint8}}
   * {{uint16}}
   * {{uint32}}
   * {{uint64}}
   * {{float32}}
   * {{float64}}

.. requirement:definition:: ConfigManagement.SupportedComplexParameterTypes

   The following complex parameter types shall be supported for parameters:
   * One dimensional array of {{SupportedPrimitiveParameterTypes}}
   * Two dimensional array of {{SupportedPrimitiveParameterTypes}}

.. requirement:definition:: ConfigManagement.ApplicationLifecycle

   Configuration Management shall synchronize its activities with the ECU´s software execution lifecycle.

.. requirement:definition:: ConfigManagement.PluginSpecialization

   Configuration Management shall enable the processing of Parameter Sets of one kind by a dedicated software module {{Plugin}}.

