Requirements
============
.. requirement:definition:: AssumedSystemRequirements.SafeConfiguration

   The SW-platform shall support safe configuration.

   Note: This is part of 0.5 release and therefore can only support ASIL_B. Goal is ASIL_D.

.. requirement:definition:: AssumedSystemRequirements.FileBasedConfiguration

   The SW-platform shall support configuration of applications via files (e.g. yaml, json).

